<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
        <title>Wallet Stats</title>
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <img class="logoImg" src="../Public/img/logo.svg">
                <img class="logoText" src="../Public/img/walletstats.svg">
            </div>
            <div class="startSection">
                <span>Join us and start controlling your expenses today!</span>
                <button type="button" class="lightButton">Sign up</button>
                <span class="smallFont">Have you got an account yet?</span>
                <button type="button">Sign in</button>
                <div class="textWrapper">
                    <span id="connectSpan">Connect with us </span>
                    <span>@walletstats</span>
                </div>
                <div class="imgWrapper">
                    <img class="social" src="../Public/img/facebook.svg">
                    <img class="social" src="../Public/img/twitter.svg">
                    <img class="social" src="../Public/img/instagram.svg">
                    <img id="socialYt" src="../Public/img/youtube.svg">
                </div>
            </div>
        </div>
    </body>
    <footer id="footer">
        <div class="wrapper">
            <nav>
                <ul>
                    <li>ABOUT</li>
                    <li>CONTACT</li>
                    <li>TERMS & CONDITIONS</li>
                </ul>
            </nav>
        </div>
    </footer>
</html>