<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../Public/css/forms.css" />
        <title>Wallet Stats | Sign in</title>
    </head>
    <body>
        <div class="container">
            <div class="loginFormWrapper">
                <div class="loginSection">
                    <span id="create">Sign in</span>
                    <img class="logoImg" src="../Public/img/logo.svg">
                </div>
                <div class="form">
                    <div class="usernameLogWrapper">
                        <input type="text" name="username" required />
                        <label for="username" class="label-name">
                            <span class="content-name">Username</span>
                        </label>
                    </div>
                    <div class="passwordLogWrapper">
                        <input type="password" name="pass" required />
                        <label for="pass" class="label-name">
                            <span class="content-name">Password</span>
                        </label>
                    </div>
                    <button type="submit">Sign in</button>
                </div>
            </div>
        </div>
    </body>
</html> 