@import "fonts.css";

html, body {
    font-size: 16px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
    overflow-y: scroll;
}

.container  {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 74px;
    align-items: center;
}

.sign-header  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 2em 0 1em 0;
}

#sign-header-text {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #1E0478;
}

#sign-header-logo  {
    width: 100%;
    max-width: 50px;
}

h3, h4  {
    color: #1E0476;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    margin-bottom: 1em;
}

.pie-chart  {
    display: flex;
    padding: 0 1em;
    background: white;
    justify-content: center;
}

.canvas-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 700px;
    background: white;
    margin: 2em auto;

    -moz-box-shadow: 0 0 5px #707070;
    -webkit-box-shadow: 0 0 5px #707070;
    box-shadow: 0 0 5px #707070;
}

.canvas-container    {
    display: flex;
    width: 100%;
    justify-content: center;
}

canvas  {
    width: 100%;
    max-width: 250px;
    display: none;
}

.month-wrapper  {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 0 1em 2em 1em;
    background: lightgray;
}

.file-container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

input[type="file"]   {
    display: none;
}

label   {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Lato", sans-serif;
    padding: .75em 1em;
    background: green;
    color: white;
    cursor: pointer;
}

label:hover {
    background: rgb(1, 92, 1);
}

#folder {
    margin-right: .5em;
    height: 22px;
}

.columns    {
    display: flex;
    flex-direction: row;
}

.column-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.column-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

span    {
    margin-right: .25em;
    font-family: 'Lato', sans-serif;
    color: #707070;
}

.invisible    {
    display: none;
}

.file-name  {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: .7em .5em;
    border: 1px solid #1E0476;
    background: #cccccc;
    overflow-x: hidden;
}

.buttons    {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
}

.btn-stats {
    margin: 1.5em 0 1em 0;
    background: #1E0478;
    border: none;
    padding: 15px 0;
    width: 100%;

    font-size: .8rem;
    letter-spacing: .1rem;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2em;

    transition: 0.3s;
}

.btn-stats:hover    {
    background: rgb(20, 2, 88);
    transition: 0.3s;
    cursor: pointer;
}

.file-path   {
    margin-left: 1.7em;
}

.btn-chart   {
    margin: 1.5em .5em 1em .5em; 
}

@media screen and (max-width: 500px)   {
    .container  {
        margin-top: 72px;
    }

    .canvas-wrapper {
        background: transparent;
        width: 100%;
        box-shadow: none;
    }

    #sign-header-logo   {
        display: none;
    }

    .month-wrapper  {
        background: transparent;
    }
}