.nav-wrapper    {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: #1E0476;
}

.navLogo    {
    width: 3%;
    min-width: 40px;
    margin-left: 2.5em;
    margin-right: 2em;
    top: 0;
}

nav {
    display: inline-block;
    width: 100%;
    padding: 1.5em 0;
}

ul  {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

a  {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1.75em;
    letter-spacing: .1em;
}

.light-wallet {
    margin: 0 2em;
    padding: 0;
    width: 40px;
}

nav a:hover {
    text-decoration: none;
    background: #FFFFFF;
    color: #1E0476;
    transition: 0.25s;
}

.logged-user    {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 1.25rem;
    margin: 0 2em;
}

.btn-small {
    font-size: .8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
    padding: 1em 1.25em;
    background: #1E0476;
    border: 1px solid white;
    margin-right: 2em;
    letter-spacing: .1em;
    cursor: pointer;
}

.btn-small:hover {
    font-weight: 500;
    color: #1E0476;
    background: white;
    transition: 0.25s;
}