body::-webkit-scrollbar {
    display: none;
}

.nav-wrapper    {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #1E0476;
    z-index: 2;
}

.navLogo    {
    width: 3%;
    min-width: 40px;
    margin-left: 2.5em;
    margin-right: 2em;
    top: 0;
}

nav {
    display: inline-block;
    width: 100%;
    padding: 1.5em 0;
}

ul  {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

a  {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1.7em 1em;
    letter-spacing: .1em;
}

.light-wallet {
    margin: 0 2em;
    padding: 0;
    width: 40px;
}

a:hover {
    text-decoration: none;
    background: #FFFFFF;
    color: #1E0476;
    transition: 0.25s;
}

.logged-user    {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-size: 1.25rem;
    margin: 0 2em 0 0;
}

.username   {
    display: none;
}

.username:hover {
    letter-spacing: .1em;
}

.btn-small {
    font-size: .8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
    padding: 1em 1.25em;
    background: #1E0476;
    border: 1px solid white;
    margin-right: 2em;
    letter-spacing: .1em;
    cursor: pointer;
}

.btn-small:hover {
    font-weight: 500;
    color: #1E0476;
    background: white;
    transition: 0.25s;
}

#burger {
    display: none;
}

#burger > div   {
    width: 25px;
    height: 3px;
    background: #9B8CCC;
    margin: 5px;
    transition: all 0.3s ease;
}

#logout {
    display: none;
}

@media screen and (max-width: 1050px) {

    body    {
        overflow-x: hidden;
    }

    .nav-wrapper    {
        padding: .8em 0;
    }

    ul  {
        position: absolute;
        width: 40%;
        right: -40%;
        top: 74px;
        background-color: #1E0476;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        border-top: 1px solid #8978BF;
        opacity: .9;
    }

    a   {
        /* border-bottom: 1px solid #8978BF; */
        transition: 0.3s;
    }

    a:hover {
        background: #1E0476;
        color: #FFFFFF;
        /* border-bottom: 3px solid #FFFFFF; */
        letter-spacing: .2em;
        opacity: 1;
        transition: 0.3s;
    }

    li   {
        margin: 2em auto;
        opacity: 0;
    }

    .logged-user    {
        display: none;
    }

    #btn-logout {
        display: none;
    }

    #burger {
        display: block;
        margin-right: 2em;
        cursor: pointer;
    }

    .username   {
        font-size: 1.75rem;
        color: #FFFFFF;
        padding: 0;
        margin-bottom: .75em;
        display: inline-block;
    }
    
    #logout {
        display: inline-block;
    }
}

.nav-active    {
    transform: translateX(-100%);
}

@media screen and (max-width: 500px) {
    ul  {
        width: 60%;
        right: -60%;
    }
}

@keyframes navLinkFade  {
    from    {
        opacity: 0;
        transform: translateX(50px);
    }
    to  {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line-1  {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line-2  {
    opacity: 0;
}

.toggle .line-3  {
    transform: rotate(45deg) translate(-5px, -6px);
}